@font-face {
    font-family: "icons";
    src: url("./icons.eot?e4ad2ee3175ec1294219632f0a8674e2?#iefix") format("embedded-opentype"),
url("./icons.woff2?e4ad2ee3175ec1294219632f0a8674e2") format("woff2"),
url("./icons.woff?e4ad2ee3175ec1294219632f0a8674e2") format("woff"),
url("./icons.ttf?e4ad2ee3175ec1294219632f0a8674e2") format("truetype"),
url("./icons.svg?e4ad2ee3175ec1294219632f0a8674e2#icons") format("svg");
}

i {
    line-height: 1;
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Umwelt:before {
    content: "\f101";
}
.icon-Verkehr:before {
    content: "\f102";
}
.icon-Verteidigung:before {
    content: "\f103";
}
.icon-Wirtschaft:before {
    content: "\f104";
}
.icon-Wissenschaft:before {
    content: "\f105";
}
.icon-agriculture:before {
    content: "\f106";
}
.icon-building:before {
    content: "\f107";
}
.icon-bundestag:before {
    content: "\f108";
}
.icon-culture:before {
    content: "\f109";
}
.icon-development-politics:before {
    content: "\f10a";
}
.icon-education:before {
    content: "\f10b";
}
.icon-eu-politics:before {
    content: "\f10c";
}
.icon-financial:before {
    content: "\f10d";
}
.icon-foreign-policy:before {
    content: "\f10e";
}
.icon-foreign-trade:before {
    content: "\f10f";
}
.icon-government:before {
    content: "\f110";
}
.icon-health:before {
    content: "\f111";
}
.icon-home-security:before {
    content: "\f112";
}
.icon-hook:before {
    content: "\f113";
}
.icon-international:before {
    content: "\f114";
}
.icon-media:before {
    content: "\f115";
}
.icon-new-lands:before {
    content: "\f116";
}
.icon-paragraph:before {
    content: "\f117";
}
.icon-politic-live:before {
    content: "\f118";
}
.icon-proposal:before {
    content: "\f119";
}
.icon-recht:before {
    content: "\f11a";
}
.icon-social-policy:before {
    content: "\f11b";
}
.icon-social-security:before {
    content: "\f11c";
}
.icon-sport:before {
    content: "\f11d";
}
.icon-work:before {
    content: "\f11e";
}
